<header class="ScriptHeader">
  <div class="rt-container">
    <div class="col-rt-12">
      <div class="rt-heading">
        <h1>Profile</h1>

      </div>
    </div>
  </div>
</header>

<section>
  <div class="rt-container">
    <div class="col-rt-12">
      <div class="Scriptcontent">
        <div class="user-profile py-4">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="card shadow-sm">
                  <div class="card-header bg-transparent text-center">
                    <img class="profile_img" src="assets/user.png" alt="user dp">
                    <h3>cool user</h3>
                  </div>
                  <div class="card-body">
                    <p class="mb-0"><strong class="pr-1">tag:</strong>@cooluser</p>
                    <p class="mb-0"><strong class="pr-1">something:</strong>example</p>
                    <p class="mb-0"><strong class="pr-1">something else:</strong>example</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="card shadow-sm">
                  <div class="card-header bg-transparent border-0">
                    <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
                  </div>
                  <div class="card-body pt-0">
                    <table class="table table-bordered">

                      <tr>
                        <th>Birthday</th>
                        <td>:</td>
                        <td>1.1.2000</td>
                      </tr>
                      <tr>
                        <th>Gender</th>
                        <td>:</td>


                        <td>example</td>


                      </tr>
                      <tr>
                        <th>hobbies</th>
                        <td>:</td>
                        <td>
                          <mat-chip-list #chipList>
                            <mat-chip style="background-color:#e64553"*ngFor="let fruit of fruits" [selectable]="selectable"
                                      [removable]="removable" (removed)="remove(fruit)">
                              {{fruit.name}}
                              <mat-icon matChipRemove *ngIf="removable">X</mat-icon>
                            </mat-chip>

                          </mat-chip-list>



                        </td>
                        <td>         <input placeholder="ADD HOBBY TEST"
                                            [matChipInputFor]="chipList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            [matChipInputAddOnBlur]="addOnBlur"
                                            (matChipInputTokenEnd)="add($event)"></td>


                      </tr>

                      <tr>
                        <th>more something</th>
                        <td>:</td>
                        <td>example</td>
                      </tr>
                      <tr>
                        <th>something</th>
                        <td>:</td>
                        <td>example</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div style="height: 26px"></div>
                <div class="card shadow-sm">
                  <div class="card-header bg-transparent border-0">
                    <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h3>
                  </div>
                  <div class="card-body pt-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                      nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
